// 颜色
$color-black: #333;
$color-normal: #666;
$color-hint: #999;

// 前景
$color-light: #fff;
// 背景
$color-back: #f4f4f4;
// 主题
$color-main: #d81e06;

// 字体尺寸
$size-mini: 10px;
$size-small: 12px;
$size-middle: 14px;
$size-normal: 16px;
$size-large: 18px;

// 边框
$border: 1px solid rgba(0, 0, 0, .1);
$border-thin: 0.5px solid rgba(0, 0, 0, .05);

// 边距
$padding-horizontal: 4vw;
$padding-vertical: 15px;

$nav-bar-height: 44px;
$bottom-bar-height: 49px;